

/* .bar {
    width: 400px;
}
.progress {
    width: 200px;
} */

.bar {
    font-size: 16px;
    width: 20em;  /* width = 20(em) * 16(px) = 320px */
 }
.progress {
    font-size: 8px;
    width: 20em;
}


/* .bar {
    width: 50%;
}
.progress {
    width: 50%;
} */