div.a {
    line-height: normal;
  }
  
div.b {
  line-height: 1.6;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif'
}

div.c {
  line-height: 80%;
}

div.d {
  line-height: 200%;
}