.container {
    border: 5px solid #ffcc5c;
    display: flex;
    /*flex-direction: /*column*/
    justify-content: flex-end; /* flex-start flex-end center space-around space-between space-evenly */
    
    height: 100%;
    align-items: center; /*center flex-end flex-start*/
    /* justify-content: flex-end; */
  }

  .logout {
    /* align-self: flex-start; */
  }

  .home {
      /* align-self: flex-end;
      margin-right: auto  */
  }