.box {
    border: 2px solid;
    margin: 5px;
    padding: 5px;
}

#classes {
    color: slateblue;
}

#ids {
    color: tomato;
}

#classes > P > b, #ids li > b {
    color: goldenrod;
}





/*div.outer p*/
/*div#outer p*/
