div.mohsen_div {
  border: 1px solid lightgreen;
  h1{
    color: tomato;
  }

  ul {
    border: 5px dotted violet;

    li { 
      font-weight: bold;

      a {
        font-style: italic
      }
    }
  }
}



