#id {
    background-color: blueviolet;
}
html .class {
    background-color: tomato;
}
.class {
    background-color: goldenrod;
}
html body {
    background-color: aqua;
}

body {
    background-color: goldenrod;
}


/* Specificity calculator */
/* http://specificity.keegan.st/ */