
.box {
    padding: 20px;
    width: 70px;
    position: static;
}

#div1 {
    background-color: orange;

    color: green;
    /* left: 10px;
    top: 10px; */

    z-index: 3;
}

#div1 h1 {
    color: initial;
}

#div2 {
    background-color: lightblue;

    /* left: 50px;
    top: 50px; */

    z-index: 1000;
}

#div3 {
    background-color: lightgreen;

    /* left: 90px;
    top: 90px; */

    z-index: 1001;
}