
.container {
    /* top: 100px; */
    position: relative;
    width: 500px;
    /* left: 200px; */
    border: 2px solid blue;
}

.box {
    padding: 20px;
    width: 70px;
}

#div1 {
    background-color: orange;
}

#div2 {
    background-color: lightblue;
    position: absolute;
    right: 200px;
    /* top:100px; */
}

#div3 {
    background-color: lightgreen;
    width: 1000px;
    
}