
.container {
    position: relative;
    left: 200px;
}

.box {
    padding: 20px;
    width: 70px;
}

#div1 {
    background-color: orange;
}

#div2 {
    background-color: lightblue;
    position: absolute;
    left: 50px;
}

#div3 {
    background-color: lightgreen;
}