.container > div {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #ffffff;
  }
  
  html, body {
    background-color: #fafaf9;
    margin: 10px;
  }
  
  .container > div:nth-child(1) {
    background-color: #96ceb4;	
  }
  
  .container > div:nth-child(2) {
    background-color: #ff6f69;
  }
  
  .container > div:nth-child(3) {
    background-color: #8890d8;
  }


  .container > div:nth-child(4) {
    background-color: yellow;
  }
    
  