.container {
    border: 5px solid #ffcc5c;
    display: flex;

    /*flex-direction: /*column*/

    justify-content: space-around; /* flex-start flex-end center space-around space-between space-evenly */
  }



  .logout {
    /* margin-right: auto; */
  }

  .search {
      /* margin-right: auto; */
  }

  .home {
      /* margin-right: auto; */
  }

   .container > div {
      /* width: 33.3333%; */
      flex: 1; /*flex-grow, flex-shrink, flex-basis */
  }

 
  .container > div.search {
    /*flex: 1;*/
  }
  