#div1 {
    /* width: 300px; 
    height: 100px;
    padding: 50px; */
    /* margin-top: 200px; */
    border: 10px solid tomato; 
    outline: 100px solid violet;
}
  
 #div2 {
    /* width: 300px;
    height: 100px; */
    /* padding: 50px; */
    border: 1px solid tomato;
}